<!DOCTYPE html>
<html lang="en" ng-app="gifmage">
    <head>
	    <!-- meta fields-->
	    <meta charset="UTF-8">

	    <!-- stylesheets -->
	    <link href="https://fonts.googleapis.com/css?family=Catamaran" rel="stylesheet">
	    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
	    <link rel="stylesheet" href="/css/main.css" />

	    <!-- js dependencies -->
	    <script type="text/javascript" src="/js/jquery.min.js"></script>

	    <!-- angular dependencies -->
	    <script type="text/javascript" src="/js/angular/angular.min.js"></script>
	    <script type="text/javascript" src="/js/angular/angular-route.min.js"></script>
	    <script type="text/javascript" src="js/angular/angular-resource.min.js"></script>
	    <script type="text/javascript" src="js/angular/angular-animate.min.js"></script>
	    <script type="text/javascript" src="js/angular/angular-aria.min.js"></script>
	    <script src="//ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>

	    <!-- angular code -->
	    <script type="text/javascript" src="/app/app.js"></script>
	    <script type="text/javascript" src="/app/services/Contact.js"></script>
	    <script type="text/javascript" src="/app/services/GifReverser.js"></script>
	    <script type="text/javascript" src="/app/controllers/HomePageController.js"></script>
	    <script type="text/javascript" src="/app/controllers/GifReverserController.js"></script>
	    <script type="text/javascript" src="/app/filters/trustedFilter.js"></script>
	    <script type="text/javascript" src="/app/directives/navbar.js"></script>

    	<title>gifmage</title>
    	<%= csrf_meta_tags %>

    	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    	<!-- google analytics -->
    	<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-68428821-3', 'auto');
		  ga('send', 'pageview');

		</script>
    </head>

    <body>
    	<%= yield %>
    </body>
</html>
